<h1 class="text-center mt-4">This is the homepage with devices for users</h1>
<% if (@devices) %>
    <% if (@devices.empty?) %> 
     <h5 class="text-center">No devices found</h5>
    <% else %>
    <div class="text-center flickr_pagination">
      <%= will_paginate @device, :container => false %>
    </div>
      <table class="footable table table-bordered toggle-arrow-tiny" data-page-size="31" >
        <thead>
        <tr>
          <th><center>Image</center></th>
          <th><center>Name</center></th>
          <th><center>Description</center></th>
          <th><center>Equipment</center></th>
          <th><center>Price for 1 day, $</center></th>
          <th><center>Action</center></th>
        </tr>
        </thead>
        <tbody>
        <% @devices.each do |device| %>
          <tr>
            <td><% if device.image.attached? %>
                <%= image_tag (device.image), style: "width: 300px" %>  
                <% else %>
                <%= image_tag("default_image.jpg", :size => "360x280", :crop => :fill) %>
                <% end %></td>
            <td><%= device.name %></td>
            <td><%= truncate(device.description, length: 500) %></td>
            <td><%= truncate(device.equipment, length: 500)  %></td>
            <td><%= device.price %></td>
            <td><%= link_to 'View details', device_url(device), class: "btn btn-outline-success" %>                
          </tr>
        <% end %>
        </tbody>
        <tfoot>
        </tfoot>
      </table>
  <% end %>
<% end %>



