<h1 class="text-center mt-4">[ADMIN] Consoles for you</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Complectation</th>
      <th>Image</th>
      <th>Price</th>
      <th>Description</th>      
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @device.each do |device| %>
      <tr>
        <td><%= device.name %></td>     
        <td><%= device.complectation %></td>
        <td>Image</td>
        <td><%= device.price %>, $</td>
        <td><%= device.description %></td>  
           <td><%= link_to 'Show', admin_path(device) %></td>
            <td><%= link_to 'Edit', edit_admin_path(device) %></td>
            <td><%= link_to 'Delete', admin_path(device), method: :delete, data: { confirm: "Are you sure?" } %></td>      
      </tr>
    <% end %>
  </tbody>
</table> 
