<h1 class="text-center mt-4">[Admin] Booking orders list</h1>

<% if (@orders) %>
  <% if (@orders.empty?) %> 
   <h5 class="text-center">No orders found</h5>
  <% else %>
<div class="text-center flickr_pagination">
  <%= will_paginate @order, :container => false %>
</div> 

<div class="container">
  <% @order.each do |order| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">          
          <div class="card-body">
            <h5 class="card-title"><%= order.name %></h5>
            <h5 class="card-title"> Number of order: <%= order.id %></h5>
              <div class="form-group row">
               <div class="field">
                <p>Customer Email: <%= order.id %></p>
                <p>Customer Name: <%= order.id %></p>
              </div>              
                 <h5 class="card-title">Total price: <%= device.price %> $</h5>           
                <%= link_to 'Details', admin_order_url(order), class: "btn btn-outline-primary" %>
             </div>
          </div>
        </div>
      </div>
       </div>
       </div>
    <% end %>
   </div>
  <% end %>
<% end %>


<h1 class="text-center mt-4">[ADMIN] Booking order <%= @order.id %> details</h1>
<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
        </div>
        <div class="card-body">     
         <p>General info:</p>
            <p>Number of order: <%= @order.id %></p>
            <p>Customer Email: <%= @order.id %></p>
            <p>Customer Name: <%= @order.id %></p>
            <p>Phone number: <%= @order.id %></p>
         <p>Booking info: </p>
            <p>Device: <%= @device.name %></p>
            <p>Price: <%= @device.name %></p>
            <p>Start date of booking: <%= @device.name %></p>
            <p>Term of booking: <%= @device.name %></p>
            <p>Time for delivery: <%= @device.name %></p>
            <p>Delivery method: <%= @device.name %></p>
            <p>Address of delivery: <%= @device.name %></p>
        </div>
      </div>
    </div>
  </div>
</div>




