<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  padding: 5px;
   width: 100px;
  text-align: right;
}

td {
  padding: 5px;
   width: 500px;
  text-align: left;
}
</style>

<h1 class="text-center mt-4">[ADMIN] Order details: № <%= @order.id %> </h1>

<div class="container">
<table style="width:100%">
    <tr>
        <th scope="row">Customer Email</th>
        <td><%= @order.email %></td>
    </tr>
    <tr>
        <th scope="row">Customer Name</th>
        <td><%= @order.full_name %></td>
    </tr>
    <tr>
        <th scope="row">Phone number</th>
        <td><%= @order.phone_number %></td>
    </tr>
    <tr>
        <th scope="row">Device</th>
        <td><%= @order.device %></td>
    </tr>

    <tr>
        <th scope="row">Start date of booking</th>
        <td><%= @order.date_of_booking %></td>
    </tr>
    <tr>
        <th scope="row">Term of booking</th>
        <td><%= @order.quantity %></td>
    </tr>
    <tr>
        <th scope="row">Delivery method</th>
        <td><%= @order.delivery %></td>
    </tr>
</table>
</div>