<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th {
  padding: 5px;
   width: 100px;
  text-align: right;
}

td {
  padding: 5px;
   width: 500px;
  text-align: left;
}
</style>

<h1 class="text-center mt-4">[ADMIN] Showing order № <%= @order.id %> details</h1>

<div class="container">
<table style="width:100%">
    <tr>
        <th scope="row">Customer Email</th>
        <td><%= @order.id %></td>
    </tr>
    <tr>
        <th scope="row">Customer Name</th>
        <td><%= @order.id %></td>
    </tr>
    <tr>
        <th scope="row">Phone number</th>
        <td><%= @order.id %></td>
    </tr>
    <tr>
        <th scope="row">Device</th>
        <td><%= @order.id %></td>
    </tr>
        <th scope="row">Price</th>
        <td><%= @order.id %></td>
    </tr>
    <tr>
        <th scope="row">Start date of booking</th>
        <td><%= @order.id %></td>
    </tr>
    <tr>
        <th scope="row">Term of booking</th>
        <td><%= @order.id %></td>
    </tr>
    <tr>
        <th scope="row">Time for delivery</th>
        <td><%= @order.id %></td>
    </tr>
    <tr>
        <th scope="row">Delivery method</th>
        <td><%= @order.id %></td>
    </tr>
</table>
</div>