<h1 class="text-center mt-4">This is the homepage with devices for users</h1>

<div class="text-center flickr_pagination">
  <%= will_paginate @device, :container => false %>
</div>

<div class="container">
  <% @device.each do |device| %>
    <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">          
          <div class="card-body">
            <h5 class="card-title"><%= device.name %></h5>
              <div class="form-group row">

               <div class="field">
                <% if device.image.attached? %>
                <%= image_tag (device.image), style: "width: 500px" %>  
                <% else %>
                <%= image_tag("default_image.jpg", :size => "360x280", :crop => :fill) %>
                <% end %>       
              </div>              
                 <h5 class="card-title">Price for 1 day: <%= device.price %> $</h5>           
                <%= link_to 'View details', device_url(device), class: "btn btn-outline-success" %> |             
                <%= link_to 'Book device', cart_path(device), class: "btn btn-outline-primary" %>                                 
         </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="text-center flickr_pagination">
  <%= will_paginate @device, :container => false %>
</div>
