<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
    <%= render 'shared/errors', obj: @device %>
      <%= form_with(model: [:admin, @device], class: "shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
        <div class="form-group row">
          <%= f.label :name, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :name, class: "form-control shadow rounded", placeholder: "Name of console" %>
            </div>
          </div>
        <div class="form-group row">
          <%= f.label :description, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :description, class: "form-control shadow rounded", placeholder: "Description of console" %>
            </div>
          </div>
        <div class="form-group row">
          <%= f.label :complectation, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :complectation, class: "form-control shadow rounded", placeholder: "Complectation of console" %>
            </div>
          </div>
        <div class="form-group row">
          <%= f.label :price, class: "col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= f.text_field :price, class: "form-control shadow rounded", placeholder: "Price of console" %>
            </div>
          </div>
        <div class="form-group row">
          <% if @device.image.attached? %>   
            <%= image_tag @device.image, style: "width: 200px; display: block" %>
          <% end %>    
                  
          <%= f.label :image %>
          <%= f.file_field :image, class: "form-control" %>
        </div>
        
      <div class="form-group row justify-content-center">
      <%= f.submit "Submit", :class => 'btn btn-outline-light btn-lg' %>     
      </div>
    <% end %>
  </div>  
    </div>
  </div> 