
<h1 class="text-center mt-4">[ADMIN] Listing all consoles</h1>
<% if (@devices) %>
  <% if (@devices.empty?) %> 
   <h5 class="text-center">No devices found</h5>
  <% else %>
<div class="text-center flickr_pagination">
  <%= will_paginate @device, :container => false %>
</div>

<div class="container">
<% @devices.each do |device| %>  
    <div class="container">
     <div class="row justify-content-md-center">
      <div class="col-8 mt-4">
        <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-header font-italic">          
          <div class="card-body">
            <% if device.status == 'deleted' %>
              <div class="card-text text-center"><b><h4>Status: <%= device.status %></h4></b></div>
            <% end %> 
             <h5 class="card-title"><%= device.name %></h5>
              <div class="form-group row">
               <div class="field">
                <% if device.image.attached? %>
                <%= image_tag (device.image), style: "width: 500px" %>  
                <% else %>
                <%= image_tag("default_image.jpg", :size => "360x280", :crop => :fill) %>
                <% end %>       
              </div>   
                <p class="card-text"><strong>Description: </strong><%= truncate(device.description, length: 500) %></p>
                <ul class="list-group list-group-flush">
                <li class="card-title"><strong>Equipment: </strong><%= truncate(device.equipment, length: 500) %></li>
                <li class="card-title"><strong>Price for 1 day: </strong><%= device.price %> $</li>
               
                <%= link_to 'View details', admin_device_url(device), class: "btn btn-outline-success" %>                
                <%= link_to 'Edit', edit_admin_device_path(device), class: "btn btn-outline-info" %>
                <%= link_to 'Delete', admin_device_path(device), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %> 
           </div>
          </div>
        </div>
       </div>
      </div>
    <% end %>
</div>
<% end %>
<% end %>
<div class="text-center flickr_pagination">
  <%= will_paginate @device, :container => false %>
</div>
