
<h1 class="text-center mt-4">Showing device details</h1>

<h2 class="text-center mt-4"><%= @device.name %></h2>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
        </div>
        <div class="card-body">     
                <% if @device.image.attached? %>
                <%= image_tag (@device.image), style: "width: 500px" %>  
                <% else %>
                <%= image_tag("/default_image.jpg") %>
                <% end %>   
                <div class="card-text text-center"><b><h4>Description: </h4></b><%= @device.description %></div>
                <div class="card-text text-center"><b><h4>Equipment: </h4></b><%= @device.equipment %></div>
                <div class="card-text text-center"><b><h4>Price for 1 day: </h4></b><%= @device.price %> $</div>

          <%= link_to "Edit", edit_admin_device_path(@device), class: "btn btn-outline-info" %>
          <%= link_to "Delete", admin_device_path(@device), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>         
        </div>
      </div>
    </div>
  </div>
</div>