<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear, [ user name ]! </p>
    <p>The <%= @device.name %>< was successfully booked. Our manager will contact you soon. 

    <p>Device name: <%= @device.name %></p>
    <p>Term of booking: <%= @order.quantity %></p>
    <p>Delivery method: <%= @order.delivery %></p>
    <p>Price: <%= @order.price %></p>
    
    This email is generated automatically. Please don't reply to this email.
    If you don't know why you received this email, please ignore it.

    © 2022 Spielkonsolen.com Inc. All Rights Reserved.
    </p>
  </body>
</html>





 